.dysplayContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.footLeft {
  position: fixed;
  left: 10vw;
  top: 70vh;
  z-index: -1;
}
.footRight {
  position: fixed;
  right: 10vw;
  top: 10vh;
  bottom: -30vh;
  z-index: -1;
}
.titleLogin {
  font-family: "Staatliches", sans-serif !important;
  font-style: normal;
}
a.link {
  color: #805454;
  font-size: small;
  font-weight: 500;
}

.text {
  font-family: "Staatliches", sans-serif !important;
  font-style: normal;
  font-weight: 600 !important;
}
