.footRigthHome1 {
  position: fixed;
  right: 10vw;
  top: 55vh;
  z-index: -1;
  rotate: 10deg;
}
.footRigthHome2 {
  position: fixed;
  right: 10vw;
  top: 15vh;
  z-index: -1;
  rotate: 10deg;
}
.footRigthHome3 {
  position: fixed;
  right: 25vw;
  top: 35vh;
  z-index: -1;
  rotate: -10deg;
}
.homeContainer {
  width: 100vw;
  display: flex;
  align-items: ce;
  justify-content: start;
  flex-flow: column;
}

.calendarContainer {
  width: 100vw;
  margin-bottom: 30vh;
  display: flex;
  align-items: center;
  justify-content: right;
  flex-flow: column;
  padding-bottom: 60px;
}

.listadoTurnos {
  margin-top: -20px;
  justify-content: center;
}
