:root {
  font-family: "Scada", sans-serif;
  font-weight: 700;
  font-style: normal;

  line-height: 1.5;
  color-scheme: light dark;
  color: #805454;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-height: 100vh;
}
